<footer class="pt-3 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 container">
        <li class="ms-3">
            <a class="link-dark bi bi-github" style="font-size: 30px;" href="https://github.com/conormondo">

            </a>
        </li>
        <li class="ms-3">
            <a class="link-dark bi bi-linkedin" style="font-size: 30px;" href="https://www.linkedin.com/in/conor-manning13/">

            </a>
        </li>
    </ul>
    <p class="text-center text-muted">© 2023 Conor Manning</p>
    <p class="text-center text-muted">"Gone Clubbin" by <a href="https://www.instagram.com/caroclutter/">caroclutter</a>
    </p>
</footer>