<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <script type="text/javascript" src="/static/index.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Conor Manning</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/css/extensions/filter-control/bootstrap-table-filter-control.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.min.css">


</head>