<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <script type="text/javascript" src="/static/index.js"></script>
    <meta charset="utf-8">
    <title>Conor Manning</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>