<%- include('_header'); %>
  <body onload="updateAge()">
    <%- include('_nav'); %>
        <div class="container home-content">
          
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
  </body>
  <%- include('_footer'); %>
</html>
