<%- include('_header'); %>

  <body onload="updateAge()">
    <%- include('_nav'); %>
      <div class="container home-content">
        <h1 class="mt-3">Facts</h1>
        <p>
          <span id="age">0</span> year old Austin based developer who wants to automate everything. Currently working on
          integrations for B2B and DTC systems for mondoshop.com.
        </p>
        <p>
          I strongly believe in proper data hygeine and accesibility when it comes to working with as many endpoints as
          we do these days.
          I am also a musician who is apparently obsessed with sandwiches and the religious documenting of my local food
          moves.
          Feel free to follow along through the sandwich products that I will be building out here on this site!
        </p>
        <p>My cat has also regularly "helped" me with my projects, so if anything doesn't work on this site it was
          probably his fault.</p>
        <img class="wallace mx-auto d-block rounded" src="static/wallace_salad_cropped.jpg" alt="">
      </div>
      </div>
      <script src="/js/bootstrap.js"></script>
  </body>
  <%- include('_footer'); %>

    </html>